/*  your css code here. If applicable */
.game-section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  font-size: 72px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
}
